@using HabitsApp.Client.Services.Contracts;
@using HabitsApp.Shared.Entities;

<RadzenCard Style="width: 20vw;" Visible=@AddActivityDialogVisible>
    <RadzenText TextStyle="TextStyle.H4">
        New Activity
    </RadzenText>
    <RadzenDropDown @bind-Value=NewActivityCategoryId 
                    Data=@Categories 
                    TextProperty="Name"
                    Style="width: 100%"
                    ValueProperty="Id"
                    Placeholder="All categories" />

    <RadzenTextBox @bind-Value=NewActivityName 
                   Placeholder="Enter new Activity"
                   Style="width: 100%"/>

    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" 
                  Variant="Variant.Flat" 
                  Size="ButtonSize.Medium" 
                  Click="@SaveActivity">
    </RadzenButton>

    <RadzenButton Icon="close" 
                  ButtonStyle="ButtonStyle.Light" 
                  Variant="Variant.Flat" 
                  Size="ButtonSize.Medium"
                  class="my-1 ms-1" Click=CancelAddActivity >
    </RadzenButton>

</RadzenCard>


@code 
{
    
}

@*<RadzenGrid Style="height: 100vh;"
           ColumnWidth="250px, 250px, 1fr"
           TemplateColumnWidth="5"
           TemplateColumnTemplate="card-template"
           RowHeight="250px"
           Data="@data">
    <Templates>
        <RadzenTemplate Context="item">
            <div class="d-flex">
                <RadzenCard Style="width: 100%; margin-right: 10px;" Header="@data[0].Header1">
                    <div class="row">
                        <div class="col-md-12">
                            <p>@data[1].Content1</p>
                        </div>
                    </div>
                </RadzenCard>

                <RadzenCard Style="width: 100%;" Header="@data[0].Header2">
                    <div class="row">
                        <div class="col-md-12">
                            <p>@data[0].Content2</p>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </RadzenTemplate>

        <RadzenTemplate Context="item">
            <RadzenCard Style="width: 100%;" Header="@data[0].Header3">
                <div class="row">
                    <div class="col-md-12">
                        <p>@data[1].Content3</p>
                    </div>
                </div>
            </RadzenCard>
        </RadzenTemplate>

        <RadzenTemplate Context="item" Name="card-template">
            <div class="row">
                <div class="col-md-5">
                    <RadzenCard Header="@data[0].Header1">
                        <div class="row">
                            <div class="col-md-12">
                                <p>@data[0].Content1</p>
                            </div>
                        </div>
                    </RadzenCard>
                </div>
            </div>
        </RadzenTemplate>
    </Templates>
</RadzenGrid>

@code {
    private List<Item> data = new List<Item>
    {
        new Item
        {
            Header1 = "Header 1",
            Content1 = "Content 1",
            Header2 = "Header 2",
            Content2 = "Content 2",
            Header3 = "Header 3",
            Content3 = "Content 3"
        }
    };

    private class Item
    {
        public string Header1 { get; set; }
        public string Content1 { get; set; }
        public string Header2 { get; set; }
        public string Content2 { get; set; }
        public string Header3 { get; set; }
        public string Content3 { get; set; }
    }
}
*@
