
@if (Goals == null)
{
    <h3>Loading Goals...</h3>
    <DisplayLoadingSpinner />
}
else
{
    <RadzenRow JustifyContent=JustifyContent.SpaceBetween AlignItems=AlignItems.Center>
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Goal"
                  Click="@InsertRow" Disabled=@(goalToInsert != null || goalToUpdate != null) />

        <h3>
            @CompletedGoalsString
        </h3>
    </RadzenRow>  

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Simple" AllowSorting="true"
                PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@Goals" TItem="GoalDto" RowCreate="@OnCreateRow" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                EditMode="DataGridEditMode.Single" @ref="goalsGrid" Style="max-height: 30vw">
        <Columns>
           @* <RadzenDataGridColumn TItem="GoalDto" Property="Date" Title="Date" Width="50px" TextAlign="TextAlign.Center"
                                  FormatString="{0:dd/MM/yy}"  FilterValue="defaultDate"> @*DEFAULT FILTER: TODAY*@
                <RadzenDataGridColumn TItem="GoalDto" Property="Date" Title="Date" Width="50px" TextAlign="TextAlign.Center"
                                  FormatString="{0:dd/MM/yy}" SortOrder="SortOrder.Ascending" >
                    @*DEFAULT FILTER: TODAY*@
                <EditTemplate Context="goal">
                    <RadzenDatePicker @bind-Value="goal.Date" Style="width:100%" DateFormat="dd/MM/yy" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GoalDto" Property="ActivityName" Title="Activity" Width="80px" TextAlign="TextAlign.Center" >
                <Template Context="goal">
                    <a href=@($"/ActivityDetails/{goal.ActivityId}")>
                        @goal.ActivityName
                    </a>
                </Template>
                <EditTemplate Context="goal">
                    <RadzenDropDown @bind-Value=goal.ActivityId TValue="int" Data=@Activities TextProperty="Name"
                                ValueProperty="Id" Placeholder="Select Activity" Style="width: 100%; max-width: 400px;" 
                                Name="ActivityDropDown" Change=OnChangeActDropDown />                
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GoalDto" Property="DurationMinutes" Title="Duration" Width="50px" TextAlign="TextAlign.Center" FormatString="{0:hh:mm:ss}">
                <Template Context="goal">
                    @((goal.DurationMinutes > 50) ? ((goal.DurationMinutes / 60).ToString() + " H : " +  (goal.DurationMinutes % 60).ToString() + " Min") : (goal.DurationMinutes).ToString() + " Min")
                </Template>
                <EditTemplate Context="goal">
                    <RadzenNumeric @bind-Value=goal.DurationMinutes /> @*TODO: format in hours and minutes*@
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="GoalDto" Property="IsCompleted" Title="Completed?" Width="50px" TextAlign="TextAlign.Center">
                <Template Context="goal">
                    <RadzenCheckBox TValue="bool" Value=goal.IsCompleted Change=@(args => CheckGoal(goal)) />
                </Template>
                <EditTemplate Context="goal">
                    <RadzenCheckBox @bind-Value=goal.IsCompleted />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="GoalDto" Context="goal" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="30px">
                <Template Context="goal">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => EditRow(goal))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(goal))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="goal">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" 
                                    Size="ButtonSize.Medium" Click="@((args) => SaveRow(goal))" Disabled=SaveBtnDisabled />
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" 
                                    Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(goal))" />
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" 
                                    Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(goal))"
                                    Visible=DeleteBtnVisible/>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    }
